#loader img {
    height: 60px;
    }
    
    #loader {
        text-align: center;
    }
    
    #title {
        font-size: 30px;
        text-align: center;
        margin: 20px auto;
    }
    
    ul#material-list {
        list-style: none;
        padding-left: 0;
        margin: 20px auto 100px auto;
    
        li {
            background-color: pink;
            padding: 20px;
            margin: 20px auto;
            border-radius: 20px;
            border: 3px solid rgb(223, 99, 119);
    
            h3 {
                margin: 5px 0 10px 0;
            }
    
            hr {
                color: #fff;
            }
    
            p {
                margin-bottom: 5px;
            }
        }
    }

p.error-message {
    background-color: rgb(219, 219, 219);
    border: 2px solid red;
    text-align: center;
    padding: 50px;
    height: 150px;
    width: 350px;
    margin: 20px auto;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-40%, -50%);
    animation: bounce 1.5s ease-in-out infinite;
}

p.material-error-message {
    background-color: rgb(219, 219, 219);
    border: 2px solid red;
    text-align: center;
    padding: 50px;
    height: 150px;
    width: 350px;
    margin: 20px auto;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-100%, -50%);
    animation: bounce 1.5s ease-in-out infinite;
}
    @media screen and (min-width:768px) {
        ul#material-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-left: 10px;
    
            li {
                width: 350px;
                height: 230px;
                align-items: center;
                margin: 10px 0;
            }
        }
}